model: {
  second: {
    network_class_name: "VoxelNet"
    voxel_generator {
      full_empty_part_with_mean: false
      point_cloud_range : [-50, -50, -5, 50, 50, 3]
      voxel_size : [0.25, 0.25, 8]
      max_number_of_points_per_voxel : 60
      block_filtering: false # filter voxels by block height
      block_factor: 1 # height calc width: voxel_size * block_factor * block_size= (0.25 * 1 * 7)
      block_size: 7
      height_threshold: 0.2 # locations with height < height_threshold will be removed.
    }
    voxel_feature_extractor: {
      module_class_name: "PillarFeatureNetOld"
      num_filters: [64]
      with_distance: false
      num_input_features: 4
    }
    middle_feature_extractor: {
      module_class_name: "PointPillarsScatter"
      downsample_factor: 1
      num_input_features: 64
    }
    rpn: {
      module_class_name: "RPNV2"
      layer_nums: [3, 5, 5]
      layer_strides: [2, 2, 2]
      num_filters: [64, 128, 256]
      upsample_strides: [0.5, 1, 2]
      num_upsample_filters: [128, 128, 128]
      use_groupnorm: false
      num_groups: 32
      num_input_features: 64
    }
    loss: {
      classification_loss: {
        weighted_sigmoid_focal: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
        }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    num_point_features: 4 # model's num point feature should be independent of dataset
    # Outputs
    use_sigmoid_score: true
    encode_background_as_zeros: true
    encode_rad_error_by_sin: true
    sin_error_factor: 1.0

    use_direction_classifier: true
    direction_loss_weight: 0.2
    num_direction_bins: 2
    direction_limit_offset: 0

    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [-59.6, -59.6, -10, 59.6, 59.6, 10]

    nms_class_agnostic: false # only valid in multi-class nms
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      class_settings: {
        class_name: "car"
        anchor_generator_range: {
          sizes: [1.93017717, 4.76718145, 1.72270761] # wlh
          anchor_ranges: [-50, -50, -1.07, 50, 50, -1.07]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.25
        unmatched_threshold : 0.2
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "bicycle"
        anchor_generator_range: {
          sizes: [0.63058911, 1.76452161, 1.44192197] # wlh
          anchor_ranges: [-50, -50, -1.07, 50, 50, -1.07]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "animal"
        anchor_generator_range: {
          sizes: [0.36058911, 0.73452161, 0.5192197] # wlh
          anchor_ranges: [-49.6, -49.6, -1.79, 49.6, 49.6, -1.79]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }

      class_settings: {
        class_name: "bus"
        anchor_generator_range: {
          sizes: [2.96046906, 12.3485991, 3.44030982] # wlh
          anchor_ranges: [-50, -50, -0.35, 50, 50, -0.35]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "emergency_vehicle"
        anchor_generator_range: {
          sizes: [2.45046906, 6.5285991, 2.39030982] # wlh
          anchor_ranges: [-50, -50, -0.88, 50, 50, -0.88]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.4
        unmatched_threshold : 0.3
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "other_vehicle"
        anchor_generator_range: {
          sizes: [2.79050468, 8.20352896, 3.23312415] # wlh
          anchor_ranges: [-50, -50, -0.62, 50, 50, -0.62]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.4
        unmatched_threshold : 0.3
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "motorcycle"
        anchor_generator_range: {
          sizes: [0.96279481, 2.35973778, 1.59403034] # wlh
          anchor_ranges: [-50, -50, -1.32, 50, 50, -1.32]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "pedestrian"
        anchor_generator_range: {
          sizes: [0.77344886, 0.8156437, 1.78748069] # wlh
          anchor_ranges: [-50, -50, -0.91, 50, 50, -0.91]
          rotations: [0] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          distance_similarity: {
            distance_norm: 1.414 # match range
            with_rotation: false
            rotation_alpha: 0.0 # rot error contribution
          }
        }
      }
      class_settings: {
        class_name: "truck"
        anchor_generator_range: {
          sizes: [2.8460939, 10.24778078, 3.44004906] # wlh
          anchor_ranges: [-50, -50, -0.30, 50, 50, -0.30]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      sample_positive_fraction : -1
      sample_size : 512
      assign_per_class: true
    }
  }
}

train_input_reader: {
  dataset: {
    dataset_class_name: "NuScenesDatasetD2"
      kitti_info_path: "/media/ags/DATA/CODE/kaggle/lyft-3d-object-detection/data/lyft/train/infos_train.pkl"
    kitti_root_path: "/media/ags/DATA/CODE/kaggle/lyft-3d-object-detection/data/lyft/train/"
  }

  batch_size: 4
  preprocess: {
    max_number_of_voxels: 15000
    shuffle_points: false
    num_workers: 3
    groundtruth_localization_noise_std: [0, 0, 0]
    groundtruth_rotation_uniform_noise: [0, 0]
    # groundtruth_localization_noise_std: [0.25, 0.25, 0.25]
    # groundtruth_rotation_uniform_noise: [-0.15707963267, 0.15707963267]
    global_rotation_uniform_noise: [0, 0]
    global_scaling_uniform_noise: [1.0, 1.0]
    global_random_rotation_range_per_object: [0, 0]
    global_translate_noise_std: [0, 0, 0]
    anchor_area_threshold: -1
    remove_points_after_sample: true
    groundtruth_points_drop_percentage: 0.0
    groundtruth_drop_max_keep_points: 15
    remove_unknown_examples: false
    sample_importance: 0.3
    random_flip_x: true
    random_flip_y: true
    remove_environment: false
    database_sampler {
      database_info_path: "/media/ags/DATA/CODE/kaggle/lyft-3d-object-detection/data/lyft/train/kitti_dbinfos_train.pkl"
      sample_groups {
        name_to_max_num {
          key: "bus"
          value: 4
        }
      }
      sample_groups {
        name_to_max_num {
          key: "emergency_vehicle"
          value: 4
        }
      }
      sample_groups {
        name_to_max_num {
          key: "truck"
          value: 4
        }
      }
      global_random_rotation_range_per_object: [0, 0]
      rate: 1.0
    }
  }
}

train_config: {
  optimizer: {
    adam_optimizer: {
      learning_rate: {
        one_cycle: {
          lr_max: 3e-3
          moms: [0.95, 0.85]
          div_factor: 10.0
          pct_start: 0.4
        }
      }
      weight_decay: 0.01
    }
    fixed_weight_decay: true
    use_moving_average: false
  }
  steps: 258650 # 14065 * 20 (28130 // 2 )
  steps_per_eval: 5865 # 14065 * 2
  save_checkpoints_secs : 1800 # half hour
  save_summary_steps : 10
  enable_mixed_precision: true
  loss_scale_factor: -1
  clear_metrics_every_epoch: true
}

eval_input_reader: {
  dataset: {
    dataset_class_name: "NuScenesDataset"
    kitti_info_path: "/media/ags/DATA/CODE/kaggle/lyft-3d-object-detection/data/lyft/train/infos_val.pkl"
    kitti_root_path: "/media/ags/DATA/CODE/kaggle/lyft-3d-object-detection/data/lyft/train/"
  }
  batch_size: 1

  preprocess: {
    max_number_of_voxels: 30000
    shuffle_points: false
    num_workers: 2
    anchor_area_threshold: -1
    remove_environment: false
  }
}